# ── LNbits ────────────────────────────────────────────────
LNBITS_URL=#########
LNBITS_ADMIN_KEY=#######

# ── hCaptcha ──────────────────────────────────────────────
# Crie conta em hcaptcha.com → Settings → Secret Key
HCAPTCHA_SECRET=######
HCAPTCHA_SITEKEY=########


# ── Faucet ────────────────────────────────────────────────
FAUCET_AMOUNT_SAT=21
COOLDOWN_HOURS=24
DB_PATH=faucet.db
